<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Style/mystyle.css">
    <title>Document</title>
</head>
<body>
    <h1>Hello World</h1>
    <div>
        <% for(var i=0; i < sanpham.length; i++) { %>

          
            <p><%= sanpham[0].name +" = "+ sanpham[1].price %></p>


        <% } %>

            213123

    </div>

    <div class="">   
        <p>test</p>

    </div>

    <div>
        <%= title %>
    </div>

    test 23.05.2023


    <form action="/" method="post">
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname" value=""><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname" value=""><br><br>
        <input type="submit" value="Submit">
      </form>



</body>
</html>