<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Style/mystyle.css">
    <title>Sign in page</title>
</head>
<body>


    <div class="topNavg">
        
        <img src="/Photos/Logo_Thu_Full.jpg" class="w3-circle"  alt="logo">
        <div class="topNavg01">
            <p>Đăng nhập</p>
            <p>-</p>
            <p>Đăng ký</p>
        </div>



    </div>


    <div class="belowNavg"></div>


    <div class="middleBox"></div>



</body>
</html>